.bg{
    background-color: limegreen;
}
.bg-1{
    background-color: dodgerblue;
}
.bg-2{
    background-color: deepskyblue;
}
.bg-3{
    background-color: orange;
}
.br{
    background-color: darkorange;
}
.bg-5{
    background-color: indianred;
}